flows.json
[{"id":"c7f887f2.703a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"521e359.173cbcc","type":"function","z":"c7f887f2.703a8","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["de4423b2.b046b8","b341ec40.2dc97","1e37d899.3c4d07"]]},{"id":"4b478f87.69447","type":"ibmiot in","z":"c7f887f2.703a8","authentication":"apiKey","apiKey":"4bb3e0e8.633c48","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"654321","applicationId":"","deviceType":"RASPBERRYPI","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":180,"wires":[["977fcc53.f2b0c8","d3ac78fd.ac5318","521e359.173cbcc"]]},{"id":"d3ac78fd.ac5318","type":"function","z":"c7f887f2.703a8","name":"Pulse","func":"global.set('pulse',msg.payload.Pulse)\nmsg.payload=msg.payload.Pulse;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["3d492f0.59df252","b341ec40.2dc97","9e3f31e8.09daf8"]]},{"id":"977fcc53.f2b0c8","type":"function","z":"c7f887f2.703a8","name":"BP","func":"global.set('bloodpressure',msg.payload.Bloodpressure)\nmsg.payload=msg.payload.Bloodpressure;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["485b7faa.337318","b341ec40.2dc97","cf4a8e6f.781a78"]]},{"id":"915c749.6554388","type":"http in","z":"c7f887f2.703a8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["7c99adf1.07c384"]]},{"id":"8dce066f.f2b3f8","type":"http response","z":"c7f887f2.703a8","name":"","statusCode":"","headers":{},"x":530,"y":380,"wires":[]},{"id":"7c99adf1.07c384","type":"function","z":"c7f887f2.703a8","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'bloodpressure':global.get(\"bloodpressure\"),'pulse':global.get(\"pulse\")}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["8dce066f.f2b3f8"]]},{"id":"de4423b2.b046b8","type":"ui_gauge","z":"c7f887f2.703a8","name":"","group":"ece47627.4ad068","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":120,"wires":[]},{"id":"485b7faa.337318","type":"ui_gauge","z":"c7f887f2.703a8","name":"","group":"ece47627.4ad068","order":4,"width":0,"height":0,"gtype":"gage","title":"BP","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":180,"wires":[]},{"id":"3d492f0.59df252","type":"ui_gauge","z":"c7f887f2.703a8","name":"","group":"ece47627.4ad068","order":5,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":240,"wires":[]},{"id":"b341ec40.2dc97","type":"debug","z":"c7f887f2.703a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"cf4a8e6f.781a78","type":"switch","z":"c7f887f2.703a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"80","vt":"num","v2":"120","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":300,"wires":[[],["e718af9e.a571b"]]},{"id":"1e37d899.3c4d07","type":"switch","z":"c7f887f2.703a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"96","vt":"num","v2":"99","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":240,"wires":[[],["e718af9e.a571b"]]},{"id":"9e3f31e8.09daf8","type":"switch","z":"c7f887f2.703a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"60","vt":"num","v2":"100","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":360,"wires":[[],["e718af9e.a571b"]]},{"id":"e718af9e.a571b","type":"http request","z":"c7f887f2.703a8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.fast2sms.com/dev/bulk?authorization=zMwTaBEuA25HyegoIQCZjKWlk1tniNF8Uc0PX4hJYGbfx3DqLVzTEf10eMGbcwmqSvAQjlUiDYN4r5aZ&sender_id=FSTSMS&message=Abnormal Health Pattern&language=english&route=p&numbers=6369031478","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":300,"wires":[["b341ec40.2dc97"]]},{"id":"4bb3e0e8.633c48","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ece47627.4ad068","type":"ui_group","z":"","name":"Default","tab":"391c5832.7104d","order":1,"disp":true,"width":"6","collapse":false},{"id":"391c5832.7104d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]